body {
  margin: 70px;
  margin-top: 5px;
  font-size: 20px;

}

.debug {
  border-color: black;
  border-style: solid;
}
#title-row {
  margin-top: 25px;
}
.header {
  padding-bottom: 40px;
}

.jumbotron {
  background-color: black;
  height: 250px;
  background-image: url("../pic/banner3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-bottom:20px;
  color: white;
}
.jumbotron h1, h2 {
  padding-left: 150px;
}
#input-gmap {
  width:100%;
  padding: 0px;
  height: 900px;
  position: relative;
  margin: auto;
}
#input {
  left: 20px;
  top: 20px;
  width: 300px;
  height: 95%;
  position: absolute;
  z-index: 100;
  background-color:rgba(207,216,220, 0.7)
}
#gmap {
  height: 100%;
  width: 100%;
}
area {
  cursor: pointer;
}
#submit-btn {
  margin-bottom: 55px;
}
#map {
  height: 100%;
  width: 100%;
}
#radar-info {


}
#info{
  font-size: 16px
}
#footer {
  text-align: center;
  font-size: 16px;
}

