body {
  margin: 70px;
  margin-top: 5px;
  font-size: 20px;

}

.debug {
  border-color: black;
  border-style: solid;
}
#title-row {
  margin-top: 25px;
}
.header {
  padding-bottom: 40px;
}

.jumbotron {
  background-color: black;
  height: 250px;
  background-image: url("../pic/cafe-background.jpg");
  background-repeat: no-repeat;
  background-size: 70% 100%;
  background-position: center;
  margin-bottom:0px;
  color: white;
}
.jumbotron h1, h2 {
  padding-left: 150px;
}
#input-gmap {
  padding: 20px;

}
#input {
  background-color: #E0E0E0;
}
area {
  cursor: pointer;
}
#submit-btn {
  margin-bottom: 55px;
}
#map {
  height: 680px;
  width: 100%;
}
#radar-info {


}
#info{
  font-size: 16px
}
#footer {
  text-align: center;
  font-size: 16px;
}

